@keyframes apparition {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes apparition-right {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes apparition-down {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes apparition-up {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes echec {
  0% {
    transform: translateX(0rem);
  }

  33% {
    transform: translateX(0.5rem);
  }

  66% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}
