// Colors

$primary: #901c1c;
$secondary: #d3573c;
$secondary-light: #db8876;
$tertiary: #525252;
$quadrary: #fafafa;

// radius
$radius: 0.6rem;

// Responsive
$bigPhone: 425px;
$tablet: 768px;
$desktop: 1200px;

$page-max-width: 1400px;
