// Colors

$primary: #901c1c;
$secondary: #d3573c;
$secondary-light: #db8876;
$tertiary: #525252;
$quadrary: #fafafa;

// $breakpoints: (
//   "tablet": 768px,
//   "desktop": 1200px,
// );
// Borders
$radius: 5px;

$page-max-width: 1400px;
