.cards-media {
  width: 95vw;
  height: 190px;
  margin-top: 10px;
  color: $primary;
}
.cards-media-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;

  align-items: center;
}
.cards-media-img {
  background-color: #d3d3d3;
  height: 80%;
  border-radius: $radius;
}

.cards-media-title {
  margin-top: 7px;
  font-weight: 400;
}
.cards-Img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: $radius;
}

.header-like {
  display: flex;
  text-align: center;

  position: relative;
  left: 0;
}
.heart {
  text-align: center;
}
.compteur {
  margin-right: 5px;
}
