.boutonmenuprincipal {
  display: none;
  background-color: $primary;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  font-size: 10px;
  border-radius: $radius;
  @include tablet-and-higher {
    display: block;
  }
}
.boutonmenuprincipal:hover {
  background-color: $primary;
}
.dropdown {
  position: relative;
  display: inline-block;
  right: 40%;
}
.dropdown-child {
  display: none;
  background-color: $primary;
  min-width: 50px;
  position: relative;
  bottom: 3px;
  font-size: 10px;
  border-radius: 0 0 $radius $radius;
}
.dropdown-child span {
  color: white;
  padding: 5px;
  text-decoration: none;
  display: block;
  border-top: 2px solid white;
  margin-left: 10px;
  margin-right: 10px;
}
.dropdown:hover .dropdown-child {
  display: block;
}

.tri {
  display: none;
  position: relative;
  left: -40%;
  top: 10px;
  margin-right: 10px;
  font-size: 13px;
  @include tablet-and-higher {
    display: block;
  }
}
