.dropdown-container {
  display: flex;
  width: 100%;
  margin-left: 3%;
  margin-top: 20px;
  animation: apparition 0.8s ease-in-out;
}
.dropdown-menu {
  display: none;
  background-color: $primary;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 2em;
  border-radius: $radius;
  transition: all 0.5s ease-in-out;
  .fa-chevron-down {
    margin: 0.5rem;
  }
  @include tablet-and-higher {
    display: block;
  }
}
.dropdown-menu:hover {
  background-color: $primary;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: $primary;
  min-width: 5rem;
  position: relative;
  bottom: 0.3rem;
  font-size: 2em;
  border-radius: 0 0 $radius $radius;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.dropdown-child span {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  border-top: 0.2rem solid white;
  margin-left: 1rem;
  margin-right: 1rem;
}
.dropdown:hover .dropdown-child {
  display: block;
}
.dropdown-title {
  display: none;
  position: relative;
  top: 1.3rem;
  margin-right: 1.5rem;
  font-weight: 500;
  font-size: 2em;
  @include tablet-and-higher {
    display: block;
  }
}
