.lightbox-modal {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: rgb(34, 34, 34), $alpha: 0.7);

  .close-lightbox-media {
    position: absolute;
    font-size: 4rem;
    align-self: flex-start;
    justify-self: flex-end;
    display: block;
    padding: 1rem;
    right: -2rem;
    font-size: x-large;
    display: block;
    width: auto;
    margin: 0 10%;
    cursor: pointer;
  }
  .lightbox-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $primary;
    margin: auto;
    background-color: $quadrary;
    width: 100vw;
    height: 100vh;
    border-radius: $radius;
    animation: apparition-down 0.8s ease-in-out;
    position: relative;
    @include tablet-and-higher {
      width: 90vw;
      height: 90vh;
    }
    .container-slides {
      width: 90%;
      margin: auto;
      height: 80vh;
      border-radius: $radius;
      background-color: rgb(255, 255, 255);
      overflow: hidden;

      img {
        margin: auto;
        height: 100%;
        width: 100%;
        border-radius: $radius;
        background-color: rgb(134, 134, 134);
        object-fit: cover;
      }
      video {
        margin: auto;
        height: 100%;
        width: 100%;
        border-radius: $radius;
        background-color: rgb(134, 134, 134);
        object-fit: cover;
      }
    }
    .lightbox-arrow {
      font-size: x-large;
      display: block;
      width: auto;
      margin: 0 10%;
      cursor: pointer;
    }
  }
}
.titre-media-lightbox {
  justify-self: flex-start;
  align-self: start;
  position: absolute;
  bottom: 8vh;
  left: 22%;
  width: 100%;
  font-size: 1.5rem;
}
