.btn-modal-mobile {
  display: block;
  background-color: $primary;
  border: none;
  color: white;
  font-size: 10px;
  width: auto;
  padding: 7px 10px;
  border-radius: $radius;
  font-size: 9px;
  position: fixed;
  bottom: 20px;
  left: 38%;
}

.contact-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba($color: black, $alpha: 0.7);
  overflow: auto;
}

.modal-content {
  background-color: $secondary-light;
  margin: 0;
  border: 1px solid #888;
  padding: 20px;
  height: 100%;
  border-radius: $radius;
  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
