.photographer-cards {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  font-weight: 400;
  // background-color: red;
  @include tablet-and-higher {
    margin: 5rem;
  }
}

.cards-img {
  height: 16rem;
  width: 16rem;
  object-fit: cover;
  border-radius: 50%;
}
.cards-body {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.cards-title {
  margin-top: 0.8rem;
  font-size: 3rem;
  text-align: center;
  color: $secondary;
}
.cards-location {
  color: $secondary;
  margin-top: 0.5rem;

  font-size: 1.6rem;
  font-weight: 600;
}
.cards-tagline {
  text-align: center;
}

.cards-tags {
  width: 18rem;
  display: flex;
  justify-content: center;
}
