.photographer-cards {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
  font-weight: 400;
  @include tablet-and-higher {
    // width: 300rem;
  }
  @include desktop-and-higher {
    width: 40rem;
  }
}

.cards-img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
}
.cards-body {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.cards-title {
  margin-top: 5px;
  font-size: 3rem;
  text-align: center;
  color: $secondary;
}
.cards-location {
  color: $secondary;
  margin-top: 5px;

  font-size: 1.6rem;
  font-weight: 600;
}
.cards-tagline {
  text-align: center;
}

.cards-tags {
  width: 180px;
  display: flex;
  justify-content: center;
}
