.total-likes-container {
  display: none;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 15%;
  background-color: $secondary-light;
  padding: 0.7rem 1rem;
  height: auto;
  width: auto;
  border-radius: $radius $radius 0 0;

  i {
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  @include tablet-and-higher {
    display: flex;
  }
}
.total-likes {
  margin-right: 1rem;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.heart-link {
  cursor: pointer;
}
