header {
  max-width: $page-max-width;
  margin: auto;
  @include tablet-and-higher {
    padding: 0 5%;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 2.5%;

    align-items: center;
    width: 100%;

    img {
      width: 50%;
      display: block;
    }
    h1 {
      font-size: 1.2rem;
      color: $primary;
      font-weight: 400;
      @include tablet-and-higher {
        font-size: 2rem;
      }
    }
  }
  .tag-list {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
