@import "./reset";
@import "./variables/variables";
@import "./mixins/mixins";
@import "./placeholder/placeholder";
@import "./mixins/mixins";
@import "./animations/animations";
@import "./modules/btn";

header {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  align-items: center;
  h1 {
    color: $primary;
  }
}
.container-cards {
  display: flex;
  margin: auto;
  width: 80vw;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-around;
  max-width: 1600px;
}
.cards {
  width: 400px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
  }
  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.25em;
    font-weight: 200;
    color: $secondary;
  }
  .cards-body {
    margin-top: 20px;
    text-align: center;
  }
}
