*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

.banner-btn, .btn-modal-mobile {
  background-color: #901c1c;
  color: white;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 0.6rem;
  cursor: pointer;
}

.banner-btn:hover, .btn-modal-mobile:hover {
  background-color: #db8876;
  color: black;
}

.tags-link {
  color: #901c1c;
  border: 0.1rem solid #c4c4c4;
  margin-top: 1rem;
  margin-right: 0.6rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 9999px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tags-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .tags-link {
    font-size: 1.6rem;
    margin-right: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .tags-link {
    font-size: 1.9rem;
  }
}

.tag--selected {
  background-color: #901c1c;
  color: white;
}

header .tag-list, .photographer-cards .cards-photographer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes apparition-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes apparition-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes apparition-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes apparition-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes apparition-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes apparition-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes echec {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  33% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  66% {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes echec {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  33% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  66% {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

header {
  margin: auto;
  padding: 4% 2.8%;
}

header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top img {
  width: 40%;
}

@media screen and (min-width: 425px) {
  header .header-top img {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  header .header-top img {
    width: 100%;
  }
}

header .header-top h1 {
  font-size: 1.2rem;
  color: #901c1c;
  font-weight: 400;
}

@media screen and (min-width: 425px) {
  header .header-top h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  header .header-top h1 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1200px) {
  header .header-top h1 {
    font-size: 3.2rem;
  }
}

header .tag-list {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4%;
  border-radius: 0.6rem;
  width: 98vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .banner {
    background-color: #fafafa;
  }
}

.banner .banner-body {
  width: 70%;
  -webkit-animation: apparition 0.8s ease-in-out;
          animation: apparition 0.8s ease-in-out;
  font-size: 1.4rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .banner .banner-body {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner .banner-body {
    font-size: 3rem;
  }
}

.banner-img {
  margin-top: 2%;
  margin-right: 2%;
}

.banner-img img {
  height: 7rem;
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-animation: apparition-right 0.8s ease-in-out;
          animation: apparition-right 0.8s ease-in-out;
}

@media screen and (min-width: 425px) {
  .banner-img img {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .banner-img img {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner-img img {
    height: 25rem;
    width: 25rem;
  }
}

.banner-tags-container {
  margin-top: 2.5rem;
  width: 60%;
  -webkit-animation: apparition 0.8s ease-in-out;
          animation: apparition 0.8s ease-in-out;
}

.banner-btn {
  display: none;
  font-size: 1em;
  width: 45%;
  font-weight: bold;
  height: 22%;
  margin-right: 10%;
  border-radius: 0.6rem;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .banner-btn {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .banner-btn {
    font-size: 1.5rem;
  }
}

.banner-btn:hover {
  background-color: #db8876;
  color: black;
}

.banner-body-title {
  color: #d3573c;
}

.banner-body-location {
  color: #901c1c;
}

.lightbox-modal {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(34, 34, 34, 0.7);
  overflow: auto;
}

.lightbox-modal .fa-times {
  position: absolute;
  font-size: 4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  display: block;
  padding: 1rem;
  right: -2rem;
}

.lightbox-modal .lightbox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #901c1c;
  margin: auto;
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  border-radius: 0.6rem;
  -webkit-animation: apparition-down 0.8s ease-in-out;
          animation: apparition-down 0.8s ease-in-out;
  position: relative;
}

@media screen and (min-width: 768px) {
  .lightbox-modal .lightbox-content {
    width: 90vw;
    height: 90vh;
  }
}

.lightbox-modal .lightbox-content img {
  width: 70vw;
  margin: auto;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 0.6rem;
}

.lightbox-modal .lightbox-content i {
  font-size: x-large;
  display: block;
  width: auto;
  margin: 0 10%;
  cursor: pointer;
}

.titre-media-lightbox {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: absolute;
  bottom: 4rem;
  left: 17rem;
  font-size: large;
}

.return-main {
  display: none;
  position: fixed;
  top: 0;
  text-align: center;
  left: 43%;
  background-color: #db8876;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.8rem 0.8rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.return-main:hover {
  background-color: #901c1c;
  color: white;
}

.btn-modal-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: auto;
  padding: 1rem;
  font-size: 1.5rem;
  position: fixed;
  bottom: 2rem;
  left: 20%;
  -webkit-animation: apparition-up 1.5s ease-in-out;
          animation: apparition-up 1.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .btn-modal-mobile {
    display: none;
  }
}

.contact-modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(107, 107, 107, 0.7);
  overflow: auto;
}

.modal-content {
  display: block;
  background-color: #db8876;
  margin: 0;
  border: 0.1rem solid #888;
  padding: 2rem;
  height: 100%;
  border-radius: 0.6rem;
  -webkit-animation: apparition-down 0.8s ease-in-out;
          animation: apparition-down 0.8s ease-in-out;
}

.modal-content input {
  border-radius: 0.6rem;
  border: none;
  height: 3rem;
  outline: none;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 35rem;
    height: auto;
    margin: auto;
  }
}

.modal-content .fa-times {
  font-size: 3rem;
  margin-top: 0.5rem;
  color: white;
  cursor: pointer;
}

.modal-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content div h3 {
  font-size: 3rem;
  font-weight: 400;
}

.modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3rem;
}

.modal-content label {
  margin: 1rem 0;
}

.modal-content textarea {
  border-radius: 0.6rem;
  border: none;
  height: 15rem;
  outline: none;
  padding: 0.5rem;
}

.modal-content button {
  background-color: #901c1c;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  margin-top: 2rem;
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-content button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .modal-content button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.modal-validation-msg {
  display: nonevari;
  margin: 0;
  padding: 2rem;
  height: 100%;
  font-size: 5rem;
}

.modal-validation-msg .fa-times {
  font-size: 3rem;
  margin-top: 0.5rem;
  color: white;
  cursor: pointer;
}

.message-alert {
  color: #901c1c;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  display: none;
}

.echec {
  -webkit-animation: echec 0.3s ease-in-out;
          animation: echec 0.3s ease-in-out;
}

.border {
  border: 0.3rem solid #901c1c !important;
}

.total-likes-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  right: 15%;
  background-color: #db8876;
  padding: 0.7rem 1rem;
  height: auto;
  width: auto;
  border-radius: 0.6rem 0.6rem 0 0;
}

.total-likes-container i {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .total-likes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.total-likes {
  margin-right: 1rem;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.heart-link {
  cursor: pointer;
}

.dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 3%;
  margin-top: 20px;
  -webkit-animation: apparition 0.8s ease-in-out;
          animation: apparition 0.8s ease-in-out;
}

.dropdown-menu {
  display: none;
  background-color: #901c1c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 2em;
  border-radius: 0.6rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dropdown-menu .fa-chevron-down {
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .dropdown-menu {
    display: block;
  }
}

.dropdown-menu:hover {
  background-color: #901c1c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-child {
  display: none;
  background-color: #901c1c;
  min-width: 5rem;
  position: relative;
  bottom: 0.3rem;
  font-size: 2em;
  border-radius: 0 0 0.6rem 0.6rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dropdown-child span {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  border-top: 0.2rem solid white;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.dropdown-title {
  display: none;
  position: relative;
  top: 1.3rem;
  margin-right: 1.5rem;
  font-weight: 500;
  font-size: 2em;
}

@media screen and (min-width: 768px) {
  .dropdown-title {
    display: block;
  }
}

.cards-media-container {
  margin-bottom: 10rem;
}

@media screen and (min-width: 768px) {
  .cards-media-container {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-animation: apparition 0.8s ease-in-out;
            animation: apparition 0.8s ease-in-out;
  }
}

.cards-media {
  width: 95vw;
  height: 19rem;
  margin-top: 5rem;
  color: #901c1c;
  -webkit-animation: apparition-up 0.8s ease-in-out;
          animation: apparition-up 0.8s ease-in-out;
}

@media screen and (min-width: 768px) {
  .cards-media {
    width: 300px;
    margin: 30px;
  }
}

.cards-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1% 2%;
  font-size: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.cards-media-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards-media-title {
  font-weight: 400;
  font-size: 1.7rem;
}

.cards-Img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

.header-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  left: 0;
}

.heart {
  text-align: center;
}

.compteur {
  margin-right: 0.5rem;
}

.photographer-cards {
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem 0;
  font-weight: 400;
}

.photographer-cards .cards-photographer-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.photographer-cards .cards-photographer-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .photographer-cards {
    margin: 5rem;
  }
}

.cards-img {
  height: 16rem;
  width: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.cards-body {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .cards-body {
    font-size: 1.6rem;
  }
}

.cards-title {
  margin-top: 0.8rem;
  font-size: 3rem;
  text-align: center;
  color: #d3573c;
}

.cards-location {
  color: #d3573c;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.cards-tagline {
  text-align: center;
}

.cards-price {
  margin-top: 0.5rem;
}

.cards-tags {
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
}
/*# sourceMappingURL=main.css.map */