*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

header {
  padding-top: 5%;
}

header a {
  margin-left: 5%;
  margin-top: 5%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 80vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1600px;
}

.photographer-cards {
  width: 400px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.photographer-cards img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.photographer-cards h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 2.25em;
  font-weight: 200;
  color: #d3573c;
}

.photographer-cards .cards-body {
  margin-top: 20px;
  text-align: center;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: #fafafa;
  padding: 5%;
}

.banner h1 {
  font-size: 50px;
  color: #d3573c;
}

.tag-list a {
  color: #901c1c;
  padding: 3px;
  margin: 3px;
  border: solid 1px #525252;
  border-radius: 20px;
}

.tag-list .tag--selected {
  color: white;
  background-color: #901c1c;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.banner button {
  width: 170px;
  height: 50px;
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.cards-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-medias {
  margin: 20px;
}

.cards-medias .cards-img-container {
  height: 300px;
  width: 300px;
  background-color: #fafafa;
}

.cards-medias .cards-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 5%;
}

.cards-medias .cards-footer .footer-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-medias .cards-footer .footer-like p {
  margin-right: 5px;
  font-weight: bolder;
}

.banner-modal {
  position: relative;
  background-color: #db8876;
  padding: 15px;
  width: 320px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  margin: 0, auto;
  opacity: 0;
  margin: auto;
  height: 300px;
}

.banner-tags-container {
  margin-top: 20px;
}

.tag {
  color: #901c1c;
  padding: 10px;
  margin: 3px;
  border: solid 1px #525252;
  border-radius: 20px;
}

.cards-img-container {
  border-radius: 5px;
}

.cards-img-container img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.heart {
  cursor: pointer;
}

.tag-link {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */