@import "./reset";
@import "./variables/variables";
@import "./mixins/mixins";
@import "./placeholder/placeholder";
@import "./mixins/mixins";
@import "./animations/animations";
@import "./layouts/header";
@import "./layouts/banner";
@import "./modules/modale";
@import "./modules/dropdown";
@import "./modules/cards-medias";
@import "./modules/photographer-cards";
@import "./modules/tags";

html {
  font-size: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 1000px;
  margin-bottom: 30px;
}

.total-likes-container {
  // display: none;
  justify-content: center;
  margin: auto;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 5%;
  background-color: $secondary-light;
  padding: 5px;
  height: auto;
  width: 50px;
  border-radius: $radius $radius 0 0;
}
.total-likes {
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
}

.return-main {
  display: none;
  position: fixed;
  top: 0;
  text-align: center;
  left: 35%;
  background-color: $secondary-light;
  border-radius: $radius;
  padding: 2px;
}
